.global-nav__list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 0;
    margin: 0;

    list-style: none;
    align-items: center;

}

.global-nav__list--closed{
    display: none;
}

.global-nav__link{
    display: inline-block;
    
    padding: 0.5rem 1rem;

    font-size: 1.3rem;

    text-decoration: none;
    border-bottom: 1px solid black;
}

.global-nav__link:hover{
    background-color: lightsalmon;
    color: black;
}

.global-nav__toggle{
    height: 54px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    background-color: steelblue;
    border: 1px solid black;
    justify-content: center;
}


/*
.gg-menu{
    margin: auto;
    height: 54px;
    width:54px;
}*/

@media screen and (min-width: 44rem){
    .global-nav__list--closed{
        display: initial;
    }

    .global-nav__list{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    
        padding: 0;
        margin: 0;
    
        list-style: none;
    }

    .global-nav__toggle{
        visibility: hidden;
    }
}