.hogwarts-houses{
    display: grid;
    grid-template-rows: auto;
    grid-gap: 1rem;
    background-image: url("https://source.unsplash.com/Ipv_MNTzcQI/1500x1200");
}

.houses-heading{
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.hogwarts-houses__firstcard{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    background-color: lightcoral;
    
    padding: 2rem;
    border: 1px solid black;
    margin: auto;
    max-width: 65%;
    height: auto;

}


.hogwarts-houses__firstcard h3
{   
    display: flex;

    justify-content: center;
    text-transform: uppercase;

}


.hogwarts-houses__card1img {
    /*  grid-area: heading;*/
      display: block;
      max-width: auto;
      max-height: auto;
      width: 100%;
      height: 200px;
      padding: 1rem;
    }

/*-----------------second card--------------------*/
.hogwarts-houses__secondcard{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    background-color: lightgreen;
    
    padding: 2rem;
    border: 1px solid black;
    margin: auto;
    max-width: 65%;
    height: auto;
    
    }
    
    
.hogwarts-houses__secondcard h3
{   
    display: flex;

    justify-content: center;
    text-transform: uppercase;

    /* padding-bottom: 3.5rem;*/
}
    
    
.hogwarts-houses__card2img {
    /*  grid-area: heading;*/
        display: block;
        max-width: auto;
        max-height: auto;
        width: 100%;
        height: 200px;
        padding: 1rem;
    }
/*----------------------------------*/
.hogwarts-houses__thirdcard{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    background-color: lightseagreen;
    
    padding: 2rem;
    border: 1px solid black;
    margin: auto;
    max-width: 65%;
    height: auto;
    
    }
    
    
.hogwarts-houses__thirdcard h3
{   
    display: flex;

    justify-content: center;
    text-transform: uppercase;

    /* padding-bottom: 3.5rem;*/
}
    
    
.hogwarts-houses__card3img {
    /*  grid-area: heading;*/
        display: block;
        max-width: auto;
        max-height: auto;
        width: 100%;
        height: 200px;
        padding: 1rem;
    }

/*--------------fourth card------------------------*/
.hogwarts-houses__fourthcard{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    background-color: palegoldenrod;
    
    padding: 2rem;
    border: 1px solid black;
    margin: auto;
    max-width: 65%;
    height: auto;
    
    }
    
    
.hogwarts-houses__fourthcard h3
{   
    display: flex;

    justify-content: center;
    text-transform: uppercase;

    /* padding-bottom: 3.5rem;*/
}
    
    
.hogwarts-houses__card4img {
    /*  grid-area: heading;*/
        display: block;
        max-width: auto;
        max-height: auto;
        width: 100%;
        height: 200px;
        padding: 1rem;
    }


    @media screen and (min-width: 50rem){

        .hogwarts-houses{
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: 4rem 1fr 1fr;
            grid-gap: 1rem;
        }

        
        .houses-heading{
            display: flex;
            width: 100vh;
            height: 2rem;
            grid-column: 4 / span 8;
            grid-row: 1;
            text-transform: uppercase ;
            font-family: 'Times New Roman', Times, serif;
            padding-left: 5rem;
            margin-left: 5rem;
        }

        .hogwarts-houses__firstcard{
            grid-column: 2 / span 5;
            grid-row: 2;
            justify-items: center;
        }

        .hogwarts-houses__secondcard{
            grid-column: 7 / span 5;
            grid-row: 2;
            justify-items: center;
        }

        .hogwarts-houses__thirdcard{
            grid-column: 2 / span 5;
            grid-row: 3;
            justify-items: center;
        }

        .hogwarts-houses__fourthcard{
            grid-column: 7 / span 5;
            grid-row: 3;
            justify-items: center;
        }


    }