*, *::before, *::after{
  box-sizing: border-box;
}

html, body{
  height: 100%;
  margin: 0;

  /* background-color: paleturquoise; */

  font-family: sans-serif;
}

:root{
  height: 100%;
  /* --primary-color: black;
  --primary-bg: paleturquoise;
  --header-bg: palevioletred; */
  background-color: steelblue;
}